@model IEnumerable<ManagementBusStation.Models.BusLine>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2 style="margin-top:100px;margin-left:380px;font-family:Helvetica;color:#111212;">LISTA AUTOBUSKIH LINIJA</h2>
    <br />
    <br />
    @Html.ActionLink("Dodaj", "Create", "BusLines", routeValues: new { controller = "BusLines", action = "Create" }, htmlAttributes: new { @class = "btn btn-md btn-success" })
</div>

<table class="table table-bordered table-responsive">
    <tr style="border:3px solid #03A9FC;">
        <th style="border:3px solid #03A9FC;" class="text-center text-uppercase">
            @Html.DisplayNameFor(model => model.CityOfDeparture)
        </th>
        <th style="border:3px solid #03A9FC;" class="text-center text-uppercase">
            @Html.DisplayNameFor(model => model.CityOfArrival)
        </th>
        <th style="border:3px solid #03A9FC;" class="text-center text-uppercase">
            @Html.DisplayNameFor(model => model.TimeOfDeparture)
        </th>
        <th style="border:3px solid #03A9FC;" class="text-center text-uppercase">
            @Html.DisplayNameFor(model => model.TimeOfArrival)
        </th>
        <th style="border:3px solid #03A9FC;" class="text-center text-uppercase">
            @Html.DisplayNameFor(model => model.Bus.BusCompany)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="border:2px solid #03A9FC;">
        <td style="border:2px solid #03A9FC;" class="text-center">
            @Html.DisplayFor(modelItem => item.CityOfDeparture)
        </td>
        <td style="border:2px solid #03A9FC;" class="text-center">
            @Html.DisplayFor(modelItem => item.CityOfArrival)
        </td>
        <td style="border:2px solid #03A9FC;" class="text-center">
            @Html.DisplayFor(modelItem => item.TimeOfDeparture)
        </td>
        <td style="border:2px solid #03A9FC;" class="text-center">
            @Html.DisplayFor(modelItem => item.TimeOfArrival)
        </td>
        <td style="border:2px solid #03A9FC;" class="text-center">
            @Html.DisplayFor(modelItem => item.Bus.BusCompany)
        </td>
        <td class="text-center">
            @Html.ActionLink("Promijeni", "Edit", "BusLines", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-md btn-warning" })
            @Html.ActionLink("Ukloni", "Delete", "BusLines", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-md btn-danger" })
        </td>
    </tr>
}
</table>